
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<h2>Index Periodo</h2>

<label>Ingrese nombre periodo : </label>
<input type="text" id="txtBuscarPeriodo" />
<br />
<button onclick="abrirModal(0) "type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Agregar</button>

<div id="tablaPeriodo">

</div>

<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <table style="width:80%; margin:auto">
                    <tr>
                        <td width="40%">ID Periodo : </td>
                        <td width="60%"><input type="text" id="txtIdPeriodo" readonly class="borrar"/></td>
                    </tr>
                    <tr>
                        <td width="40%">Nombre Periodo : </td>
                        <td width="60%"><input type="text" id="txtNombrePeriodo" class="borrar" /></td>
                    </tr>
                    <tr>
                        <td width="40%">Fecha Inicio : </td>
                        <td width="60%"><input type="text" id="datepickerInicio" readonly  class="borrar"/></td>
                    </tr>
                    <tr>
                        <td width="40%">Fecha Fin : </td>
                        <td width="60%"><input type="text" id="datepickerFin" readonly  class="borrar"/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="AgregarPeriodo()" type="button" class="btn btn-success" data-dismiss="modal" id="btnAceptar">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCancelar">Cancelar</button>

            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/Periodo.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
